.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom {
    margin-bottom: 3rem;
}

.h1-box h1 {
    font-size: 10rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1.3rem;
}